@import url("//db.onlinewebfonts.com/c/cc9c992be5b7d9e9d1d38254fe057492?family=Helvetica + Neue");
@import url("//db.onlinewebfonts.com/c/986aef63131263ba0ad9ee2044b9b66a?family=Neue + Haas + Grotesk");

body,
html {
  font-family: "Helvetica Neue", "Neue Haas Grotesk";
  margin: 0;
  height: 100%;
  a {
    text-decoration: none;
    color: white;
  }
}

body {
  background-image: url(../assets/Background-mobile.png);
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 1em;
}
.hamburger {
  padding: 1em;
}

nav {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
nav:hover {
  display: block;
}
nav a {
  display: block;
  line-height: 50px;
  text-align: center;
}

.hamburger:hover ~ nav {
  display: block;
}
.main {
  padding-left: 21px;
  .title {
    font-size: 60px;

    letter-spacing: -2px;
    line-height: 60px;
  }
  .text {
    font-family: "Neue Haas Grotesk";
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 23px;
    font-weight: normal;
  }
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.book-now {
  background-color: #e33323;
}
.more-info {
  background-color: Transparent;
}
.reel {
  padding-top: 100px;
  display: flex;
  align-items: center;
  height: 30px;
}
.reel span {
  padding-left: 10px;
}
.dots {
  padding-top: 60px;
}
.trip-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  width: 319px;
  height: 89px;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-inline-start: 31px;
    li {
      font-size: 9px;
      font-style: normal;
      span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 34px;
        font-weight: bold;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  body,
  html {
    height: 100%;
  }
  body {
    background: url(../assets/Background-desktop.png) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
  }
  .hamburger {
    display: none;
  }
  nav {
    position: static;
    display: flex;
    background: none;
    clear: none;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 44px;
  }
  nav:hover {
    display: flex;
  }
  nav a {
    padding: 0 1em;
    font-size: 12px;
  }
  .main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .title {
      padding-top: 180px;
      padding-left: 208px;
      width: 321px;
      height: 186px;
      font-size: 83px;
      font-weight: bold;
      margin-bottom: 0px;
    }
    .text {
      // position: fixed;
      padding-top: 250px;
      padding-left: 100px;
      width: 308px;
      height: 162px;
      font-size: 18px;
      font-weight: medium;
      // letter-spacing: 5px;
    }
    .booking {
      display: inline-flex;
      width: 300px;
      height: 45px;
      margin-left: 175px;
    }
    .arrows {
      padding-left: 150px;
      a img {
        width: 45px;
        height: 45px;
      }
    }
    .reel {
      position: absolute;
      margin-left: 650px;
      margin-top: 75px;
    }
    .dots {
      position: absolute;
      left: 83px;
      bottom: 30px;
    }
  }
  .trip-info {
    background: transparent;
    padding-left: 320px;
  }
  .large {
    display: static;
  }
  .extra-menu {
    position: absolute;
    bottom: 33px;
    right: 60px;
    color: white;
    width: 376px;
    height: 18px;
    margin: 0;
    padding: 0;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      padding-inline-start: 31px;
      li {
        font-size: 12px;
        font-style: normal;
      }
    }
  }
  .social-media {
    position: absolute;
    right: 40px;
    top: 45%;
    height: 150px;
    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      justify-content: space-around;
      height: 100%;
    }
  }
}
@media (max-width: 767px) {
  .content-to-hide {
    display: none;
  }
}
